In [1]:
import numpy as np
import pandas as pd
import json
from collections import defaultdict
from IPython.display import HTML

In [2]:
with open('wingspan_tournaments.json', 'r') as f:
    tourneys = json.load(f)

In [17]:
scores_by_user = defaultdict(list)

for t in reversed(tourneys):
    for s in t['scores']:
        for user, score in s.items():
            scores_by_user[user].append(score)

score_data = pd.DataFrame([
    (k, len(v), np.median(v), np.mean(v), np.mean(v[-50:]))
    for k, v in scores_by_user.items()
 ], columns=['player', 'num_games', 'median_score', 'average_score', 'average_score_most_recent_50'])\
.set_index('player')\
.sort_values('average_score', ascending=False)

In [18]:
score_data.head(10)

,num_games,median_score,average_score,average_score_most_recent_50
player,,,,
CacheShu,2,106.5,106.500000,106.500000
vidb1rbgamer,8,101.5,103.500000,103.500000
zafy,14,106.0,102.928571,102.928571
XXDCXBATMAN,6,101.5,102.833333,102.833333
Foxjoke,81,101.0,101.518519,102.080000
IGN GokuMatos,9,95.0,101.111111,101.111111
MasterWing,9,102.0,101.000000,101.000000
Sinomi,10,103.5,100.900000,100.900000
slowPigeon,67,101.0,100.298507,100.400000
MTRooster,9,97.0,99.888889,99.888889

In [19]:
score_data[score_data.num_games > 100].head(10)

,num_games,median_score,average_score,average_score_most_recent_50
player,,,,
bushy,110,98.5,99.881818,101.60
Ireku,181,98.0,99.342541,97.94
motherlove,219,99.0,98.908676,98.74
de Visme,332,98.0,98.801205,97.88
EpicSaxGuy,190,98.0,98.642105,98.20
Flan,323,98.0,98.386997,98.66
ethmah01,264,97.0,98.333333,101.04
Lauris,196,97.0,98.030612,97.96
Sim17,323,97.0,97.668731,96.12
Stoney318,107,97.0,97.448598,97.40

In [20]:
score_data[score_data.num_games > 100].sort_values('average_score_most_recent_50', ascending=False).head(10)

,num_games,median_score,average_score,average_score_most_recent_50
player,,,,
bushy,110,98.5,99.881818,101.60
ethmah01,264,97.0,98.333333,101.04
Groovenstein,267,95.0,96.378277,99.24
motherlove,219,99.0,98.908676,98.74
Ronster7,214,94.5,95.565421,98.72
Flan,323,98.0,98.386997,98.66
EpicSaxGuy,190,98.0,98.642105,98.20
BeansOnToast,103,91.0,93.271845,98.12
Theflash,226,94.0,95.008850,98.10
Lauris,196,97.0,98.030612,97.96